---
import { ArticleCreate } from "~/app/reactIntoAstro/articleCreate";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="Ajouter un article">
  <ArticleCreate client:only="react" />

  <a href="/articles">Retour</a>
</BaseLayout>
