---
import BaseLayout from "~/layouts/BaseLayout.astro";

---

<!-- Liste des articles sous forme de tableau -->
<!-- Bouton Ajouter un nouvel article -->
<!-- Sur chaque ligne un bouton pour modifier un article et supprimer un article (avec confirmation) -->

<BaseLayout title="Dashboard">
  <h1>TEST</h1>
</BaseLayout>
