---
import { ArticleRead } from "~/app/reactIntoAstro/articleRead.tsx";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { store } from "~/stores/article";

export const prerender = false;

const { id } = Astro.params;

if (id === undefined) {
  throw new Error(''); // TODO: error message
}
---

<BaseLayout title={`Article: ${id}`}>
  <ArticleRead client:only="react" id={id} />

  <a href="/articles">Retour</a>
</BaseLayout>
