---
import { articleStore } from "~/stores";

import BaseLayout from "~/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  return Object.values(articleStore.get()).map((article) => {
    return {
      params: { id: article.id },
      props: { article }
    }
  });
}

const { id } = Astro.params;
const { article } = Astro.props;
---

<BaseLayout title={`Article : ${id}`}>
  <h1>{article.title}</h1>
  <p>
    {article.content}
  </p>
  <p>
    {article.createdAt}
  </p>
</BaseLayout>
