---
import BaseLayout from "~/layouts/BaseLayout.astro";

import BasicButton from "~/components/Button/BasicButton";
---

<BaseLayout title="">
  <section class="text-[#0B3168]">
      <h1 class="text-center text-3xl mb-20">Bienvenue sur le site gestion d’Inolib</h1>

      <div class="flex justify-center">
        <div class="md:flex md:w-1/2 items-end">
          <div class="flex flex-col justify-center items-center md:w-1/2">
            <p class="text-lg">
              Si vous n’êtes pas membre de notre équipe retournez sur notre site en cliquant ici
            </p>

            <a href="https://www.inolib.com/">
              <BasicButton label="retour au site" type="button" color="blue" styles="mt-5" />
            </a>
          </div>

          <div class="flex flex-col justify-center items-center md:w-1/2">
            <p class="text-lg">Pour gérer le contenu c’est ici</p>

            <a href="/dashboard">
              <BasicButton
                label="tableau de bord"
                type="button"
                color="white"
                styles="border-[#0B3168] border-[1px] mt-10"
              />
            </a>
          </div>
        </div>
      </div>
  </section>
</BaseLayout>
