---
import "@fontsource/atkinson-hyperlegible";
import "../styles/global.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>{title}</title>
  </head>

  <body class="">
      <slot />
  </body>
</html>
